.main-bg {
  width: 100%;
  height: 100vh;
  background-image: url('../public/images/Rectangle1.png');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.34);
  color: white;
}

.bg-layer{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.469);
}

.desktop .dialog-date-picker.open {
  position: fixed !important;
  width: 100% !IMPORTANT;
  top: 0px !IMPORTANT;
  left: 0px !IMPORTANT;
}